@import "../tailwind/components/components.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --brand__item: 100px;
}
html {
  font-family: var(--font-estedad);
}
:lang(en) {
  font-family: var(--font-figtree);
}
.container {
  @apply w-[94%] xl:w-[85%] 2xl:max-w-[1280px];
}
.header {
  @apply lg:w-[90%] xl:w-[85%] 2xl:w-[1280px];
}
.main-container {
  @apply w-[90%] xl:w-[85%] 2xl:w-[1280px];
}
.direction-rtl {
  direction: rtl;
}
.direction-ltr {
  direction: ltr;
}

/* Brand Section */
.brand {
  @apply flex flex-col gap-7 px-[22px] opacity-50 mt-[49px] mb-[47px];
}

.why-us-bg {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../public/images/whyUs.webp');
}
.text-align-end {
  text-align-last: center;
}